{{template "base" .}}
{{define "title"}}About{{end}}
{{define "body"}}
<h2 class="sub-title">About Snippetbox</h2>
<div>
Welcome to Snippet Box, a simple web application designed to help you save and manage code snippets. Whether you're working on a personal project, learning something new, or just need a place to store those handy bits of code you frequently use, Snippet Box has you covered.
</div>

<div>
<h2 class="sub-title">Key Features:</h2>
<p class="content"><strong>Snippet Management: </strong> Save, edit, and delete your code snippets with ease.</p>

<p class="content"><strong>Snippet Visibility:</strong> Mark your snippets as either public or private, so you can share them or keep them for your eyes only.<span class="soon"> Coming Soon!</span></p>

<p class="content"><strong>Search Functionality:</strong> Quickly find your saved snippets using the built-in search.<span class="soon"> Coming Soon!</span>
</p>
<p class="content"><strong>Tagging System:</strong> Organize your snippets by adding tags to keep everything easy to find. <span class="soon"> Coming Soon!</span></p>


<h2 class="sub-title">Project Background</h2>

<p class="content">This Snippet Box is built as part of my journey in mastering the Go programming language. It follows the structure and principles from the book Let’s Go by Alex Edwards. The project not only helps me understand the fundamentals of building web applications with Go, but it also reinforces best practices for working with forms, routing, database handling, and security.</p>

<h2 class="sub-title">Technologies Used:</h2>
<p class="content"><strong>Go:</strong> The primary language for the backend.</p>
<p class="content"><strong>HTML/CSS:</strong> For designing the frontend user interface.</p>
<p class="content"><strong>MySQL:</strong> Database system for storing snippets and user data.</p>
Feel free to explore the app and start storing your own snippets!</p>
</div>
{{end}}